<div class="passcode-container">
  <ng-container *ngIf="!authorized">
    <h1 class="label"> Christmas passcode / Різдвяний код: </h1>
    <input class="passcode" [(ngModel)]="passcode" (keyup.enter)="passcodeSubmit()" autofocus>
    <p class="error" *ngIf="error">The code does not exist / Данний код не існує</p>
  </ng-container>

  <ng-container *ngIf="authorized">
    <h1>{{greeting}}!</h1>
    <p *ngIf="notChristYet" class="body">{{bodyText}}</p>
    <div class="video" [innerHtml]="iframe_html"></div>
    <img src="../assets/back_btn.png" width="80" (click)="onMainPage()">
  </ng-container>
</div>
